<%- include("../includes/header.ejs", {title:"Character - View All"}); %>

<h1>Character</h1>
        <a href="/Character/add">Add New Character</a> <br />

        <br />

        <table class="table table-striped">
            <tr><th>Name</th><th>Characters Game</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].c_name %></td>
                <td><%=result[i].g_name%></td>
                <td>
                    <form action="/Character/delete/" style="display:inline;">
                        <input type="hidden" name="character_id" id="character_id" value="<%= result[i].character_id %>" />
                        <input type="submit" class="btn btn-info" role="button" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />

<%- include("../includes/footer.ejs"); %>