<%- include("./includes/header.ejs", {title: title}); %>

<title>About</title>
<div>
    <body class="text-left">
    This webpage is intended to provide information on users who play video games. Individuals <br />have
    accounts and platforms, Platforms have games, and games have characters as well as <br />Downloadable Content
    (AKA DLC). An account is built off of an email, and any individual email <br />can have multiple usernames associated
    with it. An individual has played a number of hours<br /> reliant upon an account. Once an account has played a number
    of hours, those hours cannot be <br />unplayed so the hours logged table has no delete function.An individual can use the site
    to keep<br /> track of the number of hours they have played video games, or keep track of how long they might <br />play a specific
    game. Alternatively, individuals can use the site to track which individuals have similar <br />play habits to
    them and access their usernames so that they might play games together. <br />Finally any user may view the total cost
    of a video game and its downloadable content.
    </body><br />
    <a href="/images/relational_schema.jpg" class="btn btn-info" role="button">Relational Schema</a>
    <a href="/images/functional_dependancy_diagram.png" class="btn btn-info" role="button">Functional Dependancy Diagram</a>
    <a href="/images/Project_1_ER.png" class="btn btn-info" role="button">Entity Relationship Diagram</a>


</div>






<%- include("./includes/footer.ejs"); %>
