<%- include("./includes/header.ejs", {title: title}); %>

<title>About</title>
<div>


    <a href="/about" class="btn btn-info" role="button">About</a>
</div>






<%- include("./includes/footer.ejs"); %>
