<%- include("../includes/header.ejs", {title:"DLC - View All"}); %>

<h1>DLC</h1>
        <a href="/DLC/add">Add New DLC</a> <br />

        <br />

        <table class="table table-striped">
            <tr><th>Name</th><th>DLC_game_name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/DLC/?DLC_id=<%= result[i].DLC_id %>"><%= result[i].DLC_name %></a></td>
                <td><%=result[i].g_name%></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/DLC/edit/?DLC_id=<%= result[i].DLC_id %>'" class="btn btn-info" role="button">Edit</button>
                    <form action="/DLC/delete/" style="display:inline;">
                        <input type="hidden" name="DLC_id" id="DLC_id" value="<%= result[i].DLC_id %>" />
                        <input type="submit" class="btn btn-info" role="button" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />

<%- include("../includes/footer.ejs"); %>