<%- include("../includes/header.ejs", {title:"Games - " + result[0].g_name}); %>
    <h1>Games</h1>
    <ul>
        <li>Game name: <%= result[0].g_name %></li>
        <li>Price of base game: <%= result[0].price %></li>
        <li>Genre: <%= result[0].genre %></li>
        <!--<%=x=result[0].total_game_price%>-->
        <!--<%=y=result[0].price%>-->
        <li>Price of DLC: <%=x-y%></li>

    </ul>

<a href="/Game/all" class="btn btn-info" role="button"><< back</a>
<br />

<%- include("../includes/footer.ejs"); %>