<%- include("../includes/header.ejs", {title: "Update " + Game.g_name}); %>

<h1>Update <%= Game.g_name%></h1>
<form action="/Game/update" method="get">
    <input type="hidden" id="game_id" name="game_id" value="<%= Game.game_id %>">
    Game Name: <input id="g_name" name="g_name" type="text" value="<%= Game.g_name%>"/>
    <br />
    <br />
   price: <input id="price" name = "price" type="text" value="<%= Game.price%>"/>

    <br />
    <br />
    Genre: <input id = "genre" name = "genre" type="text" value="<%= Game.genre%>"/>

    <input type="submit" class="btn btn-info" role="button"/>

</form>
<br />

<%- include("../includes/footer.ejs"); %>

</html>