<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
    <h1>Add More Hours</h1>
    <form action="/Player_Platform/insert" method="get">
        Select a Game:
        <select id="platform_id" name="platform_id">
            <% for(var i=0; Platform.length > i; i++ ) { %>
            <option value="<%= Platform[i].Platform_id %>"><%= Platform[i].Platform_type %></option>
            <% } %>
        </select>

        <br />
        <br />
        Select an Account:
        <select id="player_id" name="player_id">
            <% for(var i=0; Player.length > i; i++ ) { %>
            <option value="<%= Player[i].player_id %>"><%= Player[i].email %></option>
            <% } %>
        </select>
        <br />
        Enter a desired username: <input id = "username" name = "username" type="text"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" />

    </form>
<br />

<%- include("../includes/footer.ejs"); %>