<%- include("../includes/header.ejs", {title: "Update " + DLC.DLC_name}); %>

<h1>Update <%= Player_Platform.username%></h1>
<form action="/Player_Platform/update" method="get">
    <input type = "hidden" id="platform_id" name="plaform_id" value="<%=Player_Platform.platform_id%>"/>
    <input type="hidden" id="player_id" name="player_id" value="<%= Player_Platform.player_id %>"/>
    <input type="hidden" id="username" name="username" value="<%=Player_Platform.username%>"/>
    Username: <%= Player_Platform.username%>
    <br />
    <br />
    Choose a new username: <input id="newusername" name = "newusername" type="text" value="<%= Player_Platform.username%>"/>

    <input type="submit" />

</form>
<br />


<%- include("../includes/footer.ejs"); %>

</html>