<%- include("../includes/header.ejs", {title:"Game - View All"}); %>

<h1>Usernames</h1>
        <a href="/Player_Platform/add">Add Another Username</a> <br />

        <br />

        <table class="table table-striped">
            <tr><th>Username</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].username %></td>
                <td>
                    <form action="/Player_Platform/delete/" style="display:inline;">
                        <input type ="hidden" name="Player_id" id ="Player_id" value = "<%= result[i].player_id %>" />
                        <input type="hidden" name="Platform_id" id="Platform_id" value="<%= result[i].Platform_id %>" />
                        <input type="hidden" name="username" id="username" value="<%=result[i].username%>" />
                        <input type="submit" class="btn btn-info" role="button" value="Delete"/>
                    </form>

                </td>

            </tr>
            <% } %>
        </table>
<br />

<%- include("../includes/footer.ejs"); %>