<%- include("../includes/header.ejs", {title:"Games - " + result[0].g_name}); %>
    <h1>Hours Played on Games</h1>



<table class="table table-striped">
    <tr><th>Game Title</th><th>Hours Played by Selected Account</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].g_name %></td>
        <td><%=result[i].hours%></td>

    </tr>
    <% } %>
</table>







<a href="/Hours/all" class="btn btn-info" role="button"><< back</a>
<br />

<%- include("../includes/footer.ejs"); %>