<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
    <h1>Log More Hours</h1>
    <form action="/Hours/insert" method="get">
        Select a Game:
        <select id="game_id" name="game_id">
            <% for(var i=0; Game.length > i; i++ ) { %>
            <option value="<%= Game[i].game_id %>"><%= Game[i].g_name %></option>
            <% } %>
        </select>

        <br />
        <br />
        Select an Account:
        <select id="player_id" name="player_id">
            <% for(var i=0; Player.length > i; i++ ) { %>
            <option value="<%= Player[i].player_id %>"><%= Player[i].email %></option>
            <% } %>
        </select>
        <br />
        Enter When the Game was last Played: <input id = "timeplayed" name="timeplayed" type ="date"/>
        <br />
        Enter a Number of Hours Played: <input id = "hours_played" name = "hours_played" type="number"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" class="btn btn-info" role="button" />

    </form>
<br />

<%- include("../includes/footer.ejs"); %>