<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1>
    <form action="/Player/insert" method="get">
        Account Email: <input id="email" name="email" type="text" />
        <br />
        <br />
        preffered genre: <input id = "preffered_genre" name="preffered_genre" type="text"/>

        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" class="btn btn-info" role="button"/>

    </form>
<br />

<%- include("../includes/footer.ejs"); %>