<%- include("../includes/header.ejs", {title:"Account - " + result[0].email}); %>
    <h1>Account</h1>

        <li>Account email: <%= result[0].email %></li>
        <li>preffered_genre: <%= result[0].preffered_genre %></li>
        <br />
        <table class = "table table-striped">
            <tr><th>usernames:</th></tr>

            <% for(var i=0; result.length > i; i++ ) { %>
            <tr><td><%= result[i].username%></td></tr>
        <% } %>
        </table>



<a href="/Player/all" class="btn btn-info" role="button"><< back</a>


<%- include("../includes/footer.ejs"); %>