<%- include("../includes/header.ejs", {title:"Account - View All"}); %>

<h1>Accounts</h1>
        <a href="/Player/add">Add New Account</a> <br />

        <br />

        <table class = "table table-striped">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Player/?player_id=<%= result[i].player_id %>"><%= result[i].email %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/Player/edit/?player_id=<%= result[i].player_id %>'" class="btn btn-info" role="button">Edit</button>
                    <form action="/Player/delete/" style="display:inline;">
                        <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                        <input type="submit" class="btn btn-info" role="button" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />
<%- include("../includes/footer.ejs"); %>