<%- include("../includes/header.ejs", {title:"Platform - View All"}); %>

<h1>Platforms</h1>
        <a href="/Platform/add">Add New Platform</a> <br />

        <br />

        <table class="table table-striped">
            <tr><th>Name</th><th>Price</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Platform/?Platform_id=<%= result[i].Platform_id %>"><%= result[i].Platform_type %></a></td>
                <td><%=result[i].price%></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/Platform/edit/?Platform_id=<%= result[i].Platform_id %>'" class="btn btn-info" role="button">Edit</button>
                    <form action="/Platform/delete/" style="display:inline;">
                        <input type="hidden" name="Platform_id" id="Platform_id" value="<%= result[i].Platform_id %>" />
                        <input type="submit" class="btn btn-info" role="button" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />

<%- include("../includes/footer.ejs"); %>