<%- include("../includes/header.ejs", {title: "Update " + Platform.Platform_type}); %>

<h1>Update <%= Platform.Platform_type%></h1>
<form action="/Platform/update" method="get">
    <input type="hidden" id="Platform_id" name="Platform_id" value="<%= Platform.Platform_id %>">
    Platform Name: <input id="Platform_type" name="Platform_type" type="text" value="<%= Platform.Platform_type%>"/>
    <br />
    <br />
    Price: <input id="price" name = "price" type="text" value="<%= Platform.price%>"/>

    <br />
    <br />
    Current Operating System: <input id = "operating_system" name = "operating_system" type="text" value="<%= Platform.operating_system%>"/>

    <input type="submit" class="btn btn-info" role="button"/>

</form>
<br />


<%- include("../includes/footer.ejs"); %>

</html>