<%- include("../includes/header.ejs", {title:"Add New Platform"}); %>
    <h1>Add New Platform</h1>
    <form action="/Platform/insert" method="get">
        Platform Name: <input id="Platform_type" name="Platform_type" type="text" />
        <br />
        <br />
        Price: <input id = "price" name="price" type="text"/>
        <br />
        <br />
        Current Operating System: <input id = "operating_system" name = "operating_system" type="text"/>
        <br />
        <!-- Initialize the multiselect plugin: -->

        <br />
        <input type="submit" class="btn btn-info" role="button"/>

    </form>
<br />

<%- include("../includes/footer.ejs"); %>