<%- include("../includes/header.ejs", {title:"Platforms - " + result[0].g_name}); %>
    <h1>Platforms</h1>
    <ul>
        <li>Platform name: <%= result[0].g_name %></li>
        <li>price: <%= result[0].price %></li>
        <li>Current Operating System: <%= result[0].operating_system %></li>

    </ul>

<a href="/Platform/all" class="btn btn-info" role="button"><< back</a>
<br />


<%- include("../includes/footer.ejs"); %>